<div class="footer">
    <div class="footer__question">
        <a href="https://github.com/truotuan32" class="foo__link">Bạn có câu hỏi? Liên hệ với chúng tôi.</a>
    </div>
    <div class="footer__linkGrid">
            <div class="row">
                <div class="col-4 col-md-4 col-sm-12">
                    <ul class="foo__list">
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Câu hỏi thường gặp</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Trung tâm đa phương tiện</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Các cách xem</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Tùy chọn cookie</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Kiểm tra tốc độ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4 col-md-4 col-sm-12">
                    <ul class="foo__list">
                        <li class="foo__list--item">
                            <a href="" class="foo__link">
                                Trung tâm trợ giúp</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Quan hệ với nhà đầu tư</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Điều khoản sử dụng</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Thông tin doanh nghiệp</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Thông báo pháp lý</a>
                        </li>
                    </ul>
                </div>
                <div class="col-4 col-md-4 col-sm-12">
                    <ul class="foo__list">
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Tài khoản</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Việc làm</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Quyền riêng tư</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Liên hệ với chúng tôi</a>
                        </li>
                        <li class="foo__list--item">
                            <a href="" class="foo__link">Chỉ có trên Netflix</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="footer__localBrand">
        <p>Netflix Việt Nam</p>
    </div>
</div>